# Executables
*.exe

# Build directories
build/
build_mingw/

# Downloaded libraries
raylib-5.5_win64_mingw-w64.zip

# Other potential temporary files
#*~
#*.swp
#*.log

# Bullet Physics source directory
bullet3/

# Backup archive
scp-game_backup.tar.gz
